@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;900&display=swap");

:root {
  --dark-primary-color: #00796b;
  --default-primary-color: #009688;
  --light-primary-color: #b2dfdb;
  --text-primary-color: #ffffff;
  --accent-color: #ffc107;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--divider-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #212121;
}

header {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  height: 50px;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: var(--default-primary-color) 2px solid;
}

.greeting {
  /* border: 2px blue solid; */
  flex-basis: calc(100% / 3);
  padding-left: 2rem;
}

.logo {
  /* border: 2px orange solid; */
  flex-basis: calc(100% / 3);
  text-align: center;
}
.login {
  /* border: 2px green solid; */
  flex-basis: calc(100% / 3);
  font-weight: 100%;
  padding-right: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.login_form {
  /* border: 1px red solid; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login_form input {
  height: 1.5rem;
  text-align: center;
  border-radius: 2rem;
  border: none;
  width: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.login_form input:focus {
  border: 2px var(--secondary-text-color) solid;
  outline: none;
}

.login_form svg {
  /* border: 1px pink solid; */
  color: #424242;
}

.login_form a {
  text-decoration: none;
}

.login_form a:hover {
  transform: scale(1.3);
}

.login_form button {
  background-color: transparent;
  border: none;
}

.login_form button:hover {
  cursor: pointer;
}

.balance {
  display: flex;
  justify-content: space-between;
  /* border: 2px #ffc107 dashed; */
  max-width: 1000px;
  margin: 12px auto;
}
.balance_total {
  font-size: 2rem;
}

main {
  display: flex;
  gap: 1rem;
  max-width: 1000px;
  margin: 2rem auto;
}

.transactions {
  height: 55vh;
  border: red 2px solid;
  width: 60%;
}

.operations {
  height: 55vh;
  border: orange 2px solid;
  width: 40%;
}

summary {
  font-size: 2rem;
  font-weight: 700;
}

details p {
  margin-left: 45px;
}
